<div ng-controller="tareasCtrl">
  <h1>Lista de Tareas</h1>
  Programar tarea <input name="nombre_tarea" ng-model="nuevaTarea.nombre_tarea" placeholder="" type="text" required>

  para el dia <input name="fecha_tarea" ng-model="nuevaTarea.fecha_tarea" placeholder="" type="text" required>

<button class="btn btn-success" ng-click="create()" ><span class="glyphicon glyphicon-plus"></span>AGREGAR TAREA</button> 

<button class="btn btn-success" ng-click="cargaTareas()" >CARGAR DATOS</button>

<ul ng-repeat="tarea in tareas">
      <li >

<!--
        {{tarea.nombre_tarea}} 
        <input type="text" ng-model="tarea.nombre_tarea"></input>
          <button class="btn btn-success" ng-click="" ><span class="glyphicon glyphicon-edit"></span></button>
-->
    <form class="form-inline">
    <div class="form-group">

    <div ng-hide="showEditInput && editableId == tarea.id_tarea">{{ tarea.nombre_tarea }}</div>
    <div ng-show="showEditInput && editableId == tarea.id_tarea"><input type="text" ng-model="tarea.nombre_tarea"></div>
    <!--BOTON EDITAR -->
    <button class="btn btn-primary btn-xs" ng-hide="showEditInput && editableId == tarea.id_tarea" ng-click="showEdit(tarea.id_tarea)"><span class="glyphicon glyphicon-edit"></span></button>
    <!--BOTON GUARDAR EDICION -->      
    <button class="btn btn-info btn-xs" ng-show="showEditInput && editableId == tarea.id_tarea" ng-click="update(tarea.id_tarea,tarea.nombre_tarea)"><span class="glyphicon glyphicon-check"></span></button>
    <!--BOTON CANCELAR EDICION -->
    <button class="btn btn-warning btn-xs" ng-show="showEditInput && editableId == tarea.id_tarea" ng-click="cancel()"><span class="glyphicon glyphicon-remove-circle"></span></button>
    <!--BOTON ELIMINAR -->      
    <button class="btn btn-danger btn-xs" ng-click="delete(tarea.id_tarea)"><span class="glyphicon glyphicon-trash"></span></button>

    </div>
    </form>


      </li>
    </ul>

<div class="row">
  <div class="col-md-9">

  </div>
</div>



</div>